.createPost-container {
  /* width: 40%; */
  background-color: var(--card-color);
  padding-bottom: 20px;
  margin: 15px auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.createPost-container .spinner-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.createPost-container .spinner-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.createPost-container .title-container .title {
  color: var(--text-color);
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.createPost-container .title-container {
  padding: 10px;
  border-bottom: 1px solid var(--second-color);
}

.createPost-container .form-container {
  padding: 0px 10px;
}

.createPost-container .form-group-1 .avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.createPost-container .form-group {
  display: flex;
  font-size: 16px;
  margin: 0;
}

.file-container {
  display: block;
}

.createPost-container .form-group-1 {
  padding: 10px;
  margin: 0 auto;
  border-bottom: 1px solid var(--second-color);
  font-size: 16px;
}

.createPost-container .form-control {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  outline: none;
  box-shadow: none;
}

.createPost-container .form-control:focus {
  background-color: transparent;
  border: none;
  color: var(--text-color);
}

.photo-emojis-btn-container {
  padding: 10px;
}

.photo-emojis-btn-container img {
  width: 20px;
  margin-right: 5px;
}

.photo-emojis-btn-container .photo-emoji-btn {
  background-color: var(--photo-emojis-btn-color);
  color: var(--text-color);
  padding: 5px 15px;
  margin: 5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

.photo-emojis-btn-container .photo-emoji-btn:hover {
  background: var(--third-color);
}

.createPost-container .post-btn {
  background: var(--second-color);
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
  border: none;
  padding: 5px 0;
  border-radius: 5px;
}

.createPost-container .post-btn:hover {
  background: var(--third-color);
  border: none;
  outline: none;
}

.createPost-container .post-btn:disabled {
  background: var(--post-btn-color);
  color: black;
}

.createPost-container .post-btn:disabled:hover {
  background: #e1e1e1;
}

.createPost-container .photo-emoji-btn {
  position: relative;
}

.createPost-container .photo-emoji-btn .file-input {
  position: absolute;
  left: 0;
  width: 105px;
  opacity: 0;
}

.createPost-container .file-container {
  width: 100%;
  /* height: 350px; */
  margin-top: 15px;
}

.createPost-container .file-container .selected-file {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

.createPost-container .btn-close {
  position: absolute;
  right: 30px;
  top: 140px;
  background-color: #dddddd;
  border-radius: 50%;
  padding: 5px;
  font-size: 25px;
}
