.navbar {
  min-height: 70px;
  background-color: var(--first-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}


.navbar .navbar-nav {
  color: var(--second-color);
  flex-direction: row;
  align-items: center;
}


.link, li {
  margin: 0;
  padding: 0;
  color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .icon {
  font-size: 24px;
  cursor: pointer;
}

.navbar .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}


.navbar-brand > i {
  font-size: 40px;
  background: var(--third-color);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


.nav-item > * {
  font-size: 20px;
  margin: 0px 10px;
}

.nav-item {
  display: flex;
  align-items: center;
}

.navbar .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 5px;
}


@media screen and (max-width: 450px) {
  .navbar-brand .soci-jet {
    display: none;
  }
}

@media screen and (max-width: 325px) {
  .navbar-brand > i {
    display: none;
  }
}