.emojibox-container {
  z-index: 1;
  position: fixed;
  left: 38%;
  top: 28%;
}

.emojibox-container .btn-close {
  z-index: 2;
  font-size: 20px;
  background-color: orangered;
  position: relative;
  left: 100%;
}

@media screen and (max-width: 500px) {
  .emojibox-container {
    display: none;
  }
}
