.emojibox-container {
  z-index: 1;
  position: absolute;
  left: 163px;
  top: 140px;
}

@media screen and (max-width: 450px) {
  .emojibox-container {
    /* display: none; */
    left: 20%;
  }
}

@media screen and (max-width: 350px) {
  .emojibox-container {
    /* display: none; */
    left: 10%;
  }
}

@media screen and (max-width: 300px) {
  .emojibox-container {
    /* display: none; */
    left: 2%;
  }
}