.app {
  background-color: var(--body-color);
  min-height: 100vh;
  max-height: auto;
  transition: all 0.5s;
  padding-bottom: 30px;
}

.spinner-body {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--body-color);
}
